-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: vkm_telemetry
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `machines`
--

DROP TABLE IF EXISTS `machines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machines` (
  `frame_id` bigint unsigned NOT NULL,
  `reg_num` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `terminal_sern` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `battery_sern` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `work_mode` tinyint unsigned NOT NULL DEFAULT '0',
  `config_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `assembled_at` date DEFAULT NULL,
  `client_id` bigint unsigned DEFAULT NULL,
  `bnso_id` bigint unsigned DEFAULT NULL,
  
  PRIMARY KEY (`frame_id`),
  UNIQUE KEY `uk_reg_num` (`reg_num`),
  KEY `idx_client` (`client_id`),
  KEY `idx_work_mode` (`work_mode`),
  KEY `idx_terminal` (`bnso_id`),
  CONSTRAINT `fk_machines_clients` FOREIGN KEY (`client_id`) REFERENCES `clients` (`client_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_machines_terminals` FOREIGN KEY (`bnso_id`) REFERENCES `terminals` (`bnso_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machines`
--

LOCK TABLES `machines` WRITE;
/*!40000 ALTER TABLE `machines` DISABLE KEYS */;
/*!40000 ALTER TABLE `machines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `client_id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `person_in_charge` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_number` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`client_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `terminals`
--

DROP TABLE IF EXISTS `terminals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `terminals` (
  `bnso_id` bigint unsigned NOT NULL,
  `online` tinyint unsigned NOT NULL DEFAULT 0,
  `timeout` int unsigned NULL,
  `blocked` tinyint unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  
  PRIMARY KEY (`bnso_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `terminals`
--

LOCK TABLES `terminals` WRITE;
/*!40000 ALTER TABLE `terminals` DISABLE KEYS */;
/*!40000 ALTER TABLE `terminals` ENABLE KEYS */;
UNLOCK TABLES;
--
-- Table structure for table `an_sens_data`
--

DROP TABLE IF EXISTS `an_sens_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `an_sens_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `analog_key` tinyint unsigned NOT NULL,
  `analog_val` int NOT NULL,
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `an_sens_data`
--

LOCK TABLES `an_sens_data` WRITE;
/*!40000 ALTER TABLE `an_sens_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `an_sens_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `din_sens_data`
--

DROP TABLE IF EXISTS `din_sens_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `din_sens_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `digital_key` smallint unsigned NOT NULL,
  `digital_state` smallint unsigned NOT NULL,
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `din_sens_data`
--

LOCK TABLES `din_sens_data` WRITE;
/*!40000 ALTER TABLE `din_sens_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `din_sens_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cntr_data`
--

DROP TABLE IF EXISTS `cntr_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cntr_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `counter_key` tinyint unsigned NOT NULL,
  `counter_val` smallint unsigned NOT NULL,
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cntr_data`
--

LOCK TABLES `cntr_data` WRITE;
/*!40000 ALTER TABLE `cntr_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `cntr_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loopin_data`
--

DROP TABLE IF EXISTS `loopin_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `loopin_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `lin` smallint DEFAULT NULL,
  `lis` tinyint DEFAULT NULL,
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`),
  CONSTRAINT `fk_loopin_terminal` FOREIGN KEY (`bnso_id`) REFERENCES `terminals` (`bnso_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loopin_data`
--

LOCK TABLES `loopin_data` WRITE;
/*!40000 ALTER TABLE `loopin_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `loopin_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `liquid_level_sensor`
--

DROP TABLE IF EXISTS `liquid_level_sensor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `liquid_level_sensor` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `lls_error` tinyint DEFAULT NULL,
  `lls_units` tinyint DEFAULT NULL,
  `rawdata_flag` tinyint DEFAULT NULL,
  `lls_key` tinyint DEFAULT NULL,
  `trigermodule_addr` smallint DEFAULT NULL,
  `lls_data` int DEFAULT NULL,
  
  PRIMARY KEY (`id`,`bnso_id`,`received_at`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`),
  CONSTRAINT `fk_lls_terminal` FOREIGN KEY (`bnso_id`) REFERENCES `terminals` (`bnso_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `liquid_level_sensor`
--

LOCK TABLES `liquid_level_sensor` WRITE;
/*!40000 ALTER TABLE `liquid_level_sensor` DISABLE KEYS */;
/*!40000 ALTER TABLE `liquid_level_sensor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state_data`
--

DROP TABLE IF EXISTS `state_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `state_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `work_mode` tinyint DEFAULT NULL,
  `power_supply_val` tinyint DEFAULT NULL,
  `backupbatt_voltage` tinyint DEFAULT NULL,
  `internalbatt_voltage` tinyint DEFAULT NULL,
  `navmodule_status` tinyint DEFAULT NULL,
  `ls_external_supply` tinyint DEFAULT NULL,
  `ls_internal_supply` tinyint DEFAULT NULL,
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`),
  CONSTRAINT `fk_state_terminal` FOREIGN KEY (`bnso_id`) REFERENCES `terminals` (`bnso_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state_data`
--

LOCK TABLES `state_data` WRITE;
/*!40000 ALTER TABLE `state_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `state_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sr_pos_data`
--

DROP TABLE IF EXISTS `sr_pos_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sr_pos_data` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bnso_id` bigint unsigned NOT NULL,
  `received_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `navtime` int unsigned DEFAULT '0',
  `latitude` int DEFAULT '0',
  `longitude` int DEFAULT '0',
  `altitude_exist` tinyint DEFAULT '0',
  `hem_longitude` tinyint DEFAULT '0',
  `hem_latitude` tinyint DEFAULT '0',
  `is_moving` tinyint DEFAULT '0',
  `is_black_box` tinyint DEFAULT '0',
  `crd_type` tinyint DEFAULT '0',
  `crd_sys` tinyint DEFAULT '0',
  `is_valid` tinyint DEFAULT '0',
  `speed` int DEFAULT '0',
  `is_below_sea` tinyint DEFAULT '0',
  `dir` smallint DEFAULT '0',
  `mileage` int unsigned DEFAULT '0',
  `din` tinyint DEFAULT '0',
  `src` tinyint DEFAULT '0',
  `altitude` int DEFAULT '0',
  `srcd` smallint DEFAULT '0',
  
  PRIMARY KEY (`id`,`received_at`,`bnso_id`),
  KEY `idx_terminal_time` (`bnso_id`,`received_at`),
  KEY `idx_received_at` (`received_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sr_pos_data`
--

LOCK TABLES `sr_pos_data` WRITE;
/*!40000 ALTER TABLE `sr_pos_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `sr_pos_data` ENABLE KEYS */;
UNLOCK TABLES;

/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;


DELIMITER $$

-- =============================================
-- 1. upsert_machines
-- =============================================
DROP PROCEDURE IF EXISTS upsert_machines$$
CREATE PROCEDURE upsert_machines(
    IN p_frame_id       BIGINT UNSIGNED,
    IN p_reg_num        VARCHAR(255),
    IN p_terminal_sern  VARCHAR(255),
    IN p_battery_sern   VARCHAR(255),
    IN p_work_mode      TINYINT UNSIGNED,
    IN p_config_name    VARCHAR(255),
    IN p_assembled_at   DATE,
    IN p_client_id      BIGINT UNSIGNED,
    IN p_bnso_id        BIGINT UNSIGNED
)
BEGIN
    INSERT INTO machines (
        frame_id, reg_num, terminal_sern, battery_sern,
        work_mode, config_name, assembled_at, client_id, bnso_id
    ) VALUES (
        p_frame_id, p_reg_num, p_terminal_sern, p_battery_sern,
        p_work_mode, p_config_name, p_assembled_at, p_client_id, p_bnso_id
    )
    ON DUPLICATE KEY UPDATE
        reg_num        = VALUES(reg_num),
        terminal_sern  = VALUES(terminal_sern),
        battery_sern   = VALUES(battery_sern),
        work_mode      = VALUES(work_mode),
        config_name    = VALUES(config_name),
        assembled_at   = VALUES(assembled_at),
        client_id      = VALUES(client_id),
        bnso_id        = VALUES(bnso_id);
END$$



-- =============================================
-- 2. upsert_clients
-- =============================================
DROP PROCEDURE IF EXISTS upsert_clients$$
CREATE PROCEDURE upsert_clients(
    IN p_client_id        BIGINT UNSIGNED,
    IN p_person_in_charge VARCHAR(255),
    IN p_phone_number     VARCHAR(255)
)
BEGIN
    INSERT INTO clients (
        client_id, person_in_charge, phone_number
    ) VALUES (
        p_client_id, p_person_in_charge, p_phone_number
    )
    ON DUPLICATE KEY UPDATE
        person_in_charge = VALUES(person_in_charge),
        phone_number     = VALUES(phone_number),
        updated_at       = CURRENT_TIMESTAMP;  -- will be auto anyway, but explicit is fine
END$$



-- =============================================
-- 3. upsert_terminals  (special handling for online_since)
-- =============================================
DROP PROCEDURE IF EXISTS upsert_terminals$$
CREATE PROCEDURE upsert_terminals(
    IN p_bnso_id   BIGINT UNSIGNED,
    IN p_online    TINYINT UNSIGNED,
    IN p_timeout   INT UNSIGNED,
    IN p_blocked   TINYINT UNSIGNED
)
BEGIN
    INSERT INTO terminals (
        bnso_id, online, online_since, timeout, blocked,
        created_at, updated_at
    ) VALUES (
        p_bnso_id, p_online,
        CASE WHEN p_online = 1 THEN CURRENT_TIMESTAMP ELSE NULL END,
        p_timeout, p_blocked,
        CURRENT_TIMESTAMP, CURRENT_TIMESTAMP
    )
    ON DUPLICATE KEY UPDATE
        online    = VALUES(online),
        timeout   = VALUES(timeout),
        blocked   = VALUES(blocked),
        updated_at = CURRENT_TIMESTAMP,

        -- Set online_since ONLY when online changes 
        online_since = CASE 
            WHEN terminals.online = 0 AND VALUES(online) = 1 THEN CURRENT_TIMESTAMP
            WHEN terminals.online = 1 AND VALUES(online) = 0 THEN CURRENT_TIMESTAMP
            WHEN VALUES(online) = 0 THEN NULL
            ELSE terminals.online_since
        END;
END$$



-- =============================================
-- 4. Generic upsert for telemetry tables (received_at auto-filled)
-- =============================================

DROP PROCEDURE IF EXISTS upsert_an_sens_data$$
CREATE PROCEDURE upsert_an_sens_data(
    IN p_bnso_id     BIGINT UNSIGNED,
    IN p_analog_key  TINYINT UNSIGNED,
    IN p_analog_val  INT
)
BEGIN
    INSERT INTO an_sens_data (
        bnso_id, received_at, analog_key, analog_val
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_analog_key, p_analog_val
    ) ON DUPLICATE KEY UPDATE
        analog_val = VALUES(analog_val);
        -- received_at never changes on duplicate
END$$

DROP PROCEDURE IF EXISTS upsert_din_sens_data$$
CREATE PROCEDURE upsert_din_sens_data(
    IN p_terminal_id   BIGINT UNSIGNED,
    IN p_digital_key   SMALLINT UNSIGNED,
    IN p_digital_state SMALLINT UNSIGNED
)
BEGIN
    INSERT INTO din_sens_data (
        terminal_id, received_at, digital_key, digital_state
    ) VALUES (
        p_terminal_id, CURRENT_TIMESTAMP(6), p_digital_key, p_digital_state
    ) ON DUPLICATE KEY UPDATE
        digital_state = VALUES(digital_state);
END$$

DROP PROCEDURE IF EXISTS upsert_cntr_data$$
CREATE PROCEDURE upsert_cntr_data(
    IN p_bnso_id      BIGINT UNSIGNED,
    IN p_counter_key  TINYINT UNSIGNED,
    IN p_counter_val  SMALLINT UNSIGNED
)
BEGIN
    INSERT INTO cntr_data (
        bnso_id, received_at, counter_key, counter_val
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_counter_key, p_counter_val
    ) ON DUPLICATE KEY UPDATE
        counter_val = VALUES(counter_val);
END$$

DROP PROCEDURE IF EXISTS upsert_loopin_data$$
CREATE PROCEDURE upsert_loopin_data(
    IN p_bnso_id BIGINT UNSIGNED,
    IN p_lin     SMALLINT,
    IN p_lis     TINYINT
)
BEGIN
    INSERT INTO loopin_data (
        bnso_id, received_at, lin, lis
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_lin, p_lis
    ) ON DUPLICATE KEY UPDATE
        lin = VALUES(lin),
        lis = VALUES(lis);
END$$

DROP PROCEDURE IF EXISTS upsert_liquid_level_sensor$$
CREATE PROCEDURE upsert_liquid_level_sensor(
    IN p_bnso_id           BIGINT UNSIGNED,
    IN p_lls_error         TINYINT,
    IN p_lls_units         TINYINT,
    IN p_rawdata_flag      TINYINT,
    IN p_lls_key           TINYINT,
    IN p_trigermodule_addr SMALLINT,
    IN p_lls_data          INT
)
BEGIN
    INSERT INTO liquid_level_sensor (
        bnso_id, received_at, lls_error, lls_units, rawdata_flag,
        lls_key, trigermodule_addr, lls_data
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_lls_error, p_lls_units, p_rawdata_flag,
        p_lls_key, p_trigermodule_addr, p_lls_data
    ) ON DUPLICATE KEY UPDATE
        lls_error         = VALUES(lls_error),
        lls_units         = VALUES(lls_units),
        rawdata_flag      = VALUES(rawdata_flag),
        lls_key           = VALUES(lls_key),
        trigermodule_addr = VALUES(trigermodule_addr),
        lls_data          = VALUES(lls_data);
END$$

DROP PROCEDURE IF EXISTS upsert_state_data$$
CREATE PROCEDURE upsert_state_data(
    IN p_bnso_id              BIGINT UNSIGNED,
    IN p_work_mode            TINYINT,
    IN p_power_supply_val     TINYINT,
    IN p_backupbatt_voltage   TINYINT,
    IN p_internalbatt_voltage TINYINT,
    IN p_navmodule_status     TINYINT,
    IN p_ls_external_supply   TINYINT,
    IN p_ls_internal_supply   TINYINT
)
BEGIN
    INSERT INTO state_data (
        bnso_id, received_at, work_mode, power_supply_val, backupbatt_voltage,
        internalbatt_voltage, navmodule_status, ls_external_supply, ls_internal_supply
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_work_mode, p_power_supply_val, p_backupbatt_voltage,
        p_internalbatt_voltage, p_navmodule_status, p_ls_external_supply, p_ls_internal_supply
    ) ON DUPLICATE KEY UPDATE
        work_mode            = VALUES(work_mode),
        power_supply_val     = VALUES(power_supply_val),
        backupbatt_voltage   = VALUES(backupbatt_voltage),
        internalbatt_voltage = VALUES(internalbatt_voltage),
        navmodule_status     = VALUES(navmodule_status),
        ls_external_supply   = VALUES(ls_external_supply),
        ls_internal_supply   = VALUES(ls_internal_supply);
END$$

DROP PROCEDURE IF EXISTS upsert_sr_pos_data$$
CREATE PROCEDURE upsert_sr_pos_data(
    IN p_bnso_id         BIGINT UNSIGNED,
    IN p_navtime         INT UNSIGNED,
    IN p_latitude        INT,
    IN p_longitude       INT,
    IN p_altitude_exist  TINYINT,
    IN p_hem_longitude   TINYINT,
    IN p_hem_latitude    TINYINT,
    IN p_is_moving       TINYINT,
    IN p_is_black_box    TINYINT,
    IN p_crd_type        TINYINT,
    IN p_crd_sys         TINYINT,
    IN p_is_valid        TINYINT,
    IN p_speed           INT,
    IN p_is_below_sea    TINYINT,
    IN p_dir             SMALLINT,
    IN p_mileage         INT UNSIGNED,
    IN p_din             TINYINT,
    IN p_src             TINYINT,
    IN p_altitude        INT,
    IN p_srcd            SMALLINT
)
BEGIN
    INSERT INTO sr_pos_data (
        bnso_id, received_at, navtime, latitude, longitude, altitude_exist,
        hem_longitude, hem_latitude, is_moving, is_black_box, crd_type, crd_sys,
        is_valid, speed, is_below_sea, dir, mileage, din, src, altitude, srcd
    ) VALUES (
        p_bnso_id, CURRENT_TIMESTAMP(6), p_navtime, p_latitude, p_longitude, p_altitude_exist,
        p_hem_longitude, p_hem_latitude, p_is_moving, p_is_black_box, p_crd_type, p_crd_sys,
        p_is_valid, p_speed, p_is_below_sea, p_dir, p_mileage, p_din, p_src, p_altitude, p_srcd
    ) ON DUPLICATE KEY UPDATE
        navtime         = VALUES(navtime),
        latitude        = VALUES(latitude),
        longitude       = VALUES(longitude),
        altitude_exist  = VALUES(altitude_exist),
        hem_longitude   = VALUES(hem_longitude),
        hem_latitude    = VALUES(hem_latitude),
        is_moving       = VALUES(is_moving),
        is_black_box    = VALUES(is_black_box),
        crd_type        = VALUES(crd_type),
        crd_sys         = VALUES(crd_sys),
        is_valid        = VALUES(is_valid),
        speed           = VALUES(speed),
        is_below_sea    = VALUES(is_below_sea),
        dir             = VALUES(dir),
        mileage         = VALUES(mileage),
        din             = VALUES(din),
        src             = VALUES(src),
        altitude        = VALUES(altitude),
        srcd            = VALUES(srcd);
END$$

DELIMITER ;

-- Dump completed on 2025-12-10 18:30:58
